.commoditycode-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F4F6F8;
    padding: 11px 16px 17px;
    justify-content: space-between;
}

.commoditycode-container .top-part,
.commoditycode-container .footer-part {
    width: 100%;
    height: 50%;
    background-color: #fff;
    padding: 16px 16px 6px;
    box-shadow: 0px 2px 4px 0px rgba(186, 186, 186, 0.1);
    border-radius: 0px 0px 2px 2px;
}

.commoditycode-container .top-part {
    margin-bottom: 12px;
}

.commoditycode-container .commoditycode-title {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    padding-left: 16px;
    color: #142231;
    font-weight: bold;
    margin-bottom: 16px;
}

.commoditycode-container .commoditycode-title::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 14px;
    background: #3279F0;
    border-radius: 0px 2px 2px 0px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.commoditycode-container .commoditycode-search-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.commoditycode-container .commoditycode-search-part .left-part,
.commoditycode-container .commoditycode-search-part .right-part {
    flex: 1;
    display: flex;
    align-items: center;
}

.commoditycode-container .commoditycode-search-part .left-part .el-input,
.commoditycode-container .commoditycode-search-part .right-part .el-input {
    width: 248px;
}

.commoditycode-container .commoditycode-search-part .left-part {
    justify-content: flex-start;
}

.commoditycode-container .commoditycode-search-part .left-part .el-button {
    margin-left: 16px;
}

.commoditycode-container .commoditycode-search-part .left-part .el-button:last-of-type {
    margin-right: 16px;
}

.commoditycode-container .commoditycode-search-part .right-part {
    justify-content: flex-end;
}

.commoditycode-container .commoditycode-search-part .right-part .label {
    color: #142231;
    font-size: 12px;
}

.commoditycode-container .commoditycode-search-part .right-part .el-input {
    margin-left: 16px;
}

.commoditycode-container .table-content-scroll {
    max-height: calc(100% - 168px);
    overflow: auto;
}
.commoditycode-container .el-pagination {
    margin-top: 8px;
}