 @charset "UTF-8";

 .exchange-padding.el-message-box .el-message-box__header {
   padding: 8px 15px;
 }

 .el-checkbox__input.is-indeterminate .el-checkbox__inner {
   background-color: #3279F0;
   border-color: #3279F0;
 }

 .el-input.is-disabled .el-input__inner::-webkit-input-placeholder {
   color: #cecece;
 }

 .el-textarea.is-disabled .el-textarea__inner::-webkit-input-placeholder {
   color: #cecece;
 }

 .el-input__inner::-webkit-input-placeholder {
   color: #9d9d9d;
 }

 .el-input__inner:-moz-placeholder {
   color: #9d9d9d;
 }

 .el-input__inner::-moz-placeholder {
   color: #9d9d9d;
 }

 .el-input__inner:-ms-input-placeholder {
   color: #9d9d9d;
 }

 .el-textarea__inner::-webkit-input-placeholder {
   color: #9d9d9d;
 }

 .el-textarea__inner:-moz-placeholder {
   color: #9d9d9d;
 }

 .el-textarea__inner::-moz-placeholder {
   color: #9d9d9d;
 }

 .el-textarea__inner:-ms-input-placeholder {
   color: #9d9d9d;
 }

 .el-range-input:-moz-placeholder {
   color: #9d9d9d;
 }

 .el-range-input::-webkit-input-placeholder {
   color: #9d9d9d;
 }

 .el-range-input::-moz-placeholder {
   color: #9d9d9d;
 }

 .el-range-input:-ms-input-placeholder {
   color: #9d9d9d;
 }

 .el-range-editor--mini .el-range-input:-moz-placeholder {
   color: #9d9d9d;
 }

 .el-range-editor--mini .el-range-input::-webkit-input-placeholder {
   color: #9d9d9d;
 }

 .el-range-editor--mini .el-range-input:-ms-input-placeholder {
   color: #9d9d9d;
 }

 .el-range-editor--mini .el-range-input:-ms-input-placeholder {
   color: #9d9d9d;
 }

 .el-table {
   color: #1d1d1d;
 }

 .el-table thead {
   color: #717E8C;
   font-weight: 500;
 }

 .el-table thead th {
   background-color: #F2F3F5;
 }

 .el-table td,
 .el-table th {
   padding: 0;
 }

 .el-table .cell {
   font-size: 12px;
   line-height: 28px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: clip;
   padding: 0 8px;
 }

 .el-table td,
 .el-table th.is-leaf {
   border-color: #cecece;
 }

 .el-table::before,
 .el-table::after {
   background-color: #cecece;
 }

 .el-table.el-table--border {
   border-color: #cecece;
 }

 .el-table .el-table__body tr.current-row>td {
   background-color: #ECF3FF;
   border-bottom-color: #3279F0;
   border-top: 1px solid #3279F0;
 }

 .el-table .el-table__body tr.hover-row.current-row>td,
 .el-table .el-table__body tr.hover-row.el-table__row--striped.current-row>td,
 .el-table .el-table__body tr.hover-row.el-table__row--striped>td,
 .el-table .el-table__body tr.hover-row>td {
   background: #ECF3FF;
 }

 .el-table.el-table--enable-row-hover .el-table__body tr:hover>td {
   background: #fff;
 }

 .el-pagination {
   height: 36px;
   padding: 0;
   justify-content: flex-end;
   background: #fff;
   position: relative;
   color: #1d1d1d;
 }

 .el-pagination .el-pagination__total {
   font-weight: bold;
   color: #717E8C;
 }

 .el-pagination button,
 .el-pagination span:not([class*=suffix]) {

   height: 36px;
   line-height: 36px;
 }

 .el-pagination .btn-prev,
 .el-pagination .btn-next {
   background: #fff;
   border-radius: 4px;
   margin: 0 7px;
   padding: 0;
   height: 38px;
   line-height: 38px;
   min-width: 36px;
 }

 .el-pagination .btn-prev:disabled,
 .el-pagination .btn-next:disabled {
   background: #fff;
 }

 .el-pagination .btn-prev .el-icon,
 .el-pagination .btn-next .el-icon {
   width: 100%;
 }

 .el-pagination .el-pager li {
   border-radius: 4px;
   background: #fff;
   padding: 0;
   font-weight: normal;
   height: 36px;
   min-width: 36px;
   line-height: 36px;
 }

 .el-pagination .el-pager li.active {
   border: none;
   color: #fff;
   background: #ECF3FF;
   font-weight: bold;
   color: #3279F0;
 }

 .el-pagination .el-pager li+li {
   margin-left: 7px;
 }

 .el-pagination .el-pager .more::before {
   line-height: 36px;
 }

 .el-pagination .el-pagination__jump .el-pagination__editor {
   height: 36px;
   line-height: 36px;
 }

 .el-pagination .el-pagination__jump .el-pagination__editor .el-input__inner {
   line-height: 36px !important;
   height: 36px !important;
 }

 .el-pagination .el-pagination__editor.el-input {
   width: 50px;
 }

 .el-pagination_user_config {
   position: absolute;
   top: 50%;
   left: 20px;
   transform: translateY(-50%);
   font-weight: bold;
 }

 .el-pagination_user_config .static-number {
   color: #3279F0;
 }

 .el-message.el-message--error {
   background-color: #FEEBEB;
   border-color: #FEEBEB;
   border-radius: 2px;
 }

 .el-message.el-message--error .el-icon-error,
 .el-message.el-message--error .el-message__content {
   color: #FA3838;
 }

 .el-message.el-message--warning {
   background-color: #FFF5EC;
   border-color: #FFF5EC;
   border-radius: 2px;
 }

 .el-message.el-message--warning .el-icon-warning,
 .el-message.el-message--warning .el-message__content {
   color: #FF9831;
 }

 .el-message.el-message--success {
   background-color: #E6F7F0;
   border-color: #E6F7F0;
   border-radius: 2px;
 }

 .el-message.el-message--success .el-icon-success,
 .el-message.el-message--success .el-message__content {
   color: #0DB46A;
 }

 .el-popover.el-popper {
   font-size: 12px;
 }

 .el-dialog {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
 }

 @keyframes dialog-fade-in {
   0% {
     transform: translateX(-50%) translateY(-50%);
     opacity: 0;
   }

   100% {
     transform: translateX(-50%) translateY(-50%);
     opacity: 1;
   }
 }

 @keyframes dialog-fade-out {
   0% {
     transform: translateX(-50%) translateY(-50%);
     opacity: 1;
   }

   100% {
     transform: translateX(-50%) translateY(-50%);
     opacity: 0;
   }
 }

 .el-dialog {
   border-radius: 6px;
   /**滚动条的宽度*/
 }

 .el-dialog ::-webkit-scrollbar {
   width: 8px;
   height: 8px;
 }

 .el-dialog ::-webkit-scrollbar-thumb {
   background: #DDD;
   border-radius: 5px;
 }

 .el-dialog .el-dialog__header {
   padding: 20px 24px 12px;
   border-radius: 6px 6px 0 0;
 }

 .el-dialog .el-dialog__header .el-dialog__title {
   font-size: 16px;
   color: #1d1d1d;
   font-weight: bold;
 }

 .el-dialog .el-dialog__header .el-dialog__headerbtn {
   top: 20px;
 }

 .el-dialog .el-dialog__header .el-dialog__headerbtn .el-dialog__close {
   color: #1d1d1d;
   font-weight: bold;
   font-size: 18px;
 }

 .el-dialog .el-dialog__body {
   font-size: 12px;
   padding: 12px 24px;
   color: #1d1d1d;
   background-color: #fff;
   max-height: 620px;
   overflow: auto;
 }

 .el-dialog .el-dialog__footer {
   height: 60px;
   padding: 16px 24px;
 }

 .el-dialog .el-dialog__footer .el-button+.el-button {
   margin-left: 24px;
 }

 .el-dialog.st-dialog .el-dialog__body {
   color: #1d1d1d;
 }

 .el-message-box .el-message-box__header,
 .is-message-box .el-message-box__header {
   padding: 8px 24px;
   border-radius: 6px 6px 0 0;
 }

 .el-message-box .el-message-box__header .el-message-box__title,
 .is-message-box .el-message-box__header .el-message-box__title {
   font-weight: bold;
   font-size: 14px;
   line-height: 25px;
   color: #1d1d1d;
 }

 .el-message-box .el-message-box__header .el-message-box__headerbtn,
 .is-message-box .el-message-box__header .el-message-box__headerbtn {
   top: 8px;
 }

 .el-message-box .el-message-box__header .el-message-box__headerbtn .el-message-box__close,
 .is-message-box .el-message-box__header .el-message-box__headerbtn .el-message-box__close {
   color: #1d1d1d;
   font-weight: bold;
   font-size: 18px;
 }

 .el-message-box {
   width: 420px !important;
 }

 .yb-message-info {
   width: 840px !important;
 }

 .el-message-box__status.el-icon-warning {
   color: #ff9831;
 }

 .el-dropdown-menu .el-dropdown-menu__item:focus,
 .el-dropdown-menu .el-dropdown-menu__item:not(.is-disabled):hover {
   background-color: #ecf5ff;
   font-weight: bold;
 }

 .el-form .el-form-item {
   align-items: center;
 }

 .el-form .el-form-item .el-form-item__label,
 .el-form .el-form-item .el-form-item__content {
   color: #1d1d1d;
 }

 .el-form .el-form-item.is-error .el-input__inner,
 .el-form .el-form-item.is-error .el-input__inner:focus,
 .el-form .el-form-item.is-error .el-textarea__inner,
 .el-form .el-form-item.is-error .el-textarea__inner:focus {
   border-color: #FA3838;
 }

 .el-form .el-form-item.is-error .el-form-item__error {
   color: #FA3838;
 }

 .el-form .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
   color: #FA3838;
 }

 .el-input__suffix {
   height: 100% !important;
   line-height: 100% !important;
   display: flex;
   align-items: center;
 }

 .el-input {
   font-size: 12px;
 }

 .el-input.is-disabled .el-input__inner {
   background-color: #F8F8F8;
   border-color: #CECECE;
   color: #cecece;
 }

 .el-input__inner {
   height: 32px;
   line-height: 32px;
   color: #1d1d1d;
   border-color: #cecece;
   padding-left: 10px;
 }

 .el-textarea.is-disabled .el-textarea__inner {
   background-color: #F8F8F8;
   border-color: #CECECE;
   color: #cecece;
 }

 .el-textarea__inner {
   font-size: 12px;
   font-family: Arial;
 }

 .el-checkbox,
 .el-textarea__inner {
   color: #1d1d1d;
 }

 .el-textarea__inner:hover,
 .el-checkbox__inner:hover,
 .el-radio.is-bordered:not(.is-disabled):hover,
 .el-radio.is-bordered:not(.is-disabled).is-checked,
 .el-select .el-input.is-focus .el-input__inner,
 .el-select .el-input__inner:focus,
 .el-select:hover .el-input__inner,
 .el-input__inner:focus,
 .el-input__inner:hover {
   border-color: #3279F0;
 }

 .el-radio__input.is-checked .el-radio__inner {
   border-color: #3279F0;
   background-color: #3279F0;
 }

 .el-radio__input.is-checked+.el-radio__label {
   color: #3279F0;
 }

 .el-checkbox__input.is-checked .el-checkbox__inner {
   border-color: #3279F0;
   background-color: #3279F0;
 }

 .el-checkbox__input.is-checked+.el-checkbox__label {
   color: #3279F0;
 }

 .el-checkbox__input.is-disabled .el-checkbox__inner {
   border-color: #CECECE;
   background-color: #F8F8F8;
   color: #cecece;
 }

 .el-select {
   width: 100% !important;
 }

 .el-select .el-input__inner {
   height: 30px !important;
 }

 .query-item .el-select,
 .hort-box .el-select {
   width: 150px !important;
 }

 .el-select-dropdown__item {
   color: #1d1d1d;
 }

 .el-select-dropdown__item.hover,
 .el-select-dropdown__item:hover {
   background-color: #ECF3FF;
 }

 .el-select-dropdown__item.selected {
   color: #3279F0;
   background-color: #ECF3FF;
   font-weight: 500;
 }

 .el-range-editor input {
   color: #1d1d1d;
 }

 .el-range-editor.is-disabled input {
   color: #cecece;
 }

 .el-date-editor.el-input,
 .el-date-editor.el-input__inner {
   width: 100%;
 }

 .el-date-picker:not(.has-time) {
   width: auto;
 }

 .el-date-picker:not(.has-time) .el-date-picker__header {
   margin: 12px 15px 0 15px;
 }

 .el-date-picker:not(.has-time) .el-picker-panel__content {
   width: 200px;
   margin: 0 15px 15px 15px;
 }

 .el-date-table td {
   padding: 0;
 }

 .el-date-table td.current:not(.disabled) span {
   background-color: #3279F0;
 }

 .el-button {
   color: #1d1d1d;
   min-height: 12px;
   border-radius: 2px;
 }

 .el-button+.el-button {
   margin-left: 16px;
 }

 .el-button.el-button--mini {
   padding: 9px 16px;
 }

 .el-button.el-button--text {
   color: #3279F0;
 }

 .el-button.el-button--text:focus {
   color: #1B51BF;
 }

 .el-button.el-button--text:hover {
   color: #1B51BF;
 }

 .el-button.el-button--default {
   border-color: #CECECE;
 }

 .el-button.el-button--default:focus {
   border-color: #3279F0;
   background-color: #F0F4FB;
   color: #3279F0;
 }

 .el-button.el-button--default:hover {
   border-color: #3279F0;
   background-color: #F0F4FB;
   color: #3279F0;
 }

 .el-button.el-button--primary:not(.is-plain) {
   background-color: #3279F0;
   border-color: #3279F0;
   color: #fff;
 }

 .el-button.el-button--primary:not(.is-plain):focus {
   background-color: #1B51BF;
   border-color: #1B51BF;
   color: #fff;
 }

 .el-button.el-button--primary:not(.is-plain):hover {
   background-color: #1B51BF;
   border-color: #1B51BF;
   color: #fff;
 }

 .el-button.el-button--info {
   background-color: #FFFFFF;
   border-color: #3279F0;
   color: #3279F0;
 }

 .el-button.el-button--info:focus {
   background-color: #F0F4FB;
   border-color: #1B51BF;
   color: #1B51BF;
 }

 .el-button.el-button--info:hover {
   background-color: #F0F4FB;
   border-color: #1B51BF;
   color: #1B51BF;
 }

 .el-button:not(.el-button--text).is-disabled {
   color: #cecece !important;
   background: #F8F8F8 !important;
   border-color: #CECECE !important;
 }

 .el-button:not(.el-button--text).is-disabled:focus,
 .el-button:not(.el-button--text).is-disabled:hover {
   color: #cecece;
   background: #F8F8F8;
   border-color: #CECECE;
 }

 .el-link.el-link--default:after {
   border: none;
 }

 .el-link.el-link--primary {
   color: #3279F0;
   margin: 0 5px;
 }

 .el-link.el-link--primary:hover {
   color: #1B51BF;
   text-decoration: underline;
   -webkit-text-decoration-color: #1B51BF;
   text-decoration-color: #1B51BF;
 }

 .el-link.el-link--primary:focus {
   color: #1B51BF;
   text-decoration: none;
 }

 .el-link.el-link--primary:after,
 .el-link.el-link--primary.is-underline:hover:after {
   border: none;
 }

 .el-radio {
   color: #1d1d1d;
 }

 .el-radio .el-radio__inner:hover {
   border-color: #3279F0;
 }

 .el-radio .el-radio__label {
   color: #1d1d1d;
 }

 .el-radio .el-radio__input.is-disabled+span.el-radio__label {
   color: #1d1d1d;
 }

 .el-radio .el-radio__input.is-checked+.el-radio__label {
   color: #1d1d1d;
 }

 .el-radio-button__inner {
   color: #1d1d1d;
 }

 .tabs-group .el-radio-button__original-radio:checked+.el-radio-button__inner {
   background-color: #3279F0;
   border-color: #3279F0;
   box-shadow: -1px 0 0 0 #3279F0;
 }

 .el-descriptions .el-descriptions__label.is-bordered-label,
 .el-descriptions .el-descriptions__body {
   color: #1d1d1d;
 }

 .el-tabs .el-tabs__item {
   height: 28px;
   line-height: 28px;
   font-size: 12px;
 }

 .el-tabs .el-tabs__item.is-active,
 .el-tabs .el-tabs__item:hover {
   color: #3279F0;
 }

 .el-tabs .el-tabs__active-bar {
   background-color: #3279F0;
 }

 .el-radio-group:not(.blue-bg-group) .el-radio-button__inner {
   border: none;
   border-bottom: 2px solid transparent;
   padding: 12px 20px;
   border-radius: 0;
 }

 .el-radio-group:not(.blue-bg-group) .el-radio-button__inner:hover {
   color: #3279F0;
 }

 .el-radio-group:not(.blue-bg-group) .el-radio-button__original-radio:checked+.el-radio-button__inner {
   background: none;
   box-shadow: none;
   color: #3279F0;
   border-bottom: 2px solid #3279F0;
 }

 .el-radio-group.blue-bg-group .el-radio-button__inner:hover {
   color: #3279F0;
 }

 .el-radio-group.blue-bg-group .el-radio-button__original-radio:checked+.el-radio-button__inner {
   color: #fff;
   background-color: #3279F0;
 }

 .el-cascader-menu__wrap {
   height: -moz-fit-content;
   height: fit-content;
 }

 .el-badge__content--primary,
 .el-badge__content--danger {
   background-color: #FA3838;
 }

 .image-slot {
   width: 100%;
   height: 100%;
   background-color: #F8F8F8;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

 .image-slot img {
   max-width: 100%;
   max-height: 100%;
 }

 .el-image-viewer__close {
   top: 100px;
 }

 .el-upload--picture-card {
   border-color: #3279F0;
   border-radius: 2px;
 }

 .el-upload--picture-card .el-icon-plus {
   color: #3279F0;
   vertical-align: middle;
 }