.database-container {
    width: 100%;
    height: 100%;
}

.database-container .form-info {
    padding: 24px 154px;
    width: 50%;
    background: #FFFFFF;
}

.database-container .form-info .label {
    font-size: 12px;
    color: #142231;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 8px;
}

.database-container .form-info .info {
    border-radius: 4px;
    margin-bottom: 16px;
}

.database-container .form-info .windows {
    margin-top: -10px;
    margin-bottom: 16px;
    line-height: 20px;
}

.database-container .form-info .btn-container {
    margin-top: 48px;
    text-align: right;
}

.database-container .form-info .btn-container .el-button {
    width: 92px;
}
.database-container .el-select__popper{
    z-index: 2010;
    position: absolute;    
    left: 154px;
    top: 88px;
    margin: 0px;
    display: none;
}