* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    font-size: 12px;
    line-height: 1;
    font-family: Microsoft YaHei;
}

:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #eaecf1;
    border-radius: 3px;
}


@keyframes modal-fade {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.errorTip {
    font-size: 12px;
    color: #1D1D1D;
    line-height: 18px;
    border: 1px solid #FA3837;
    border-radius: 4px;
    padding: 8px 16px;
    background: #FFF1F1;
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 2100;
    transform: translateX(-50%);
    animation: modal-fade 3.2s linear;
}

table {
    width: 100%;
    border: 1px solid #cecece;
    border-right: none;
    border-top: none;
    font-size: 12px;
    line-height: 36px;
}

thead {
    background-color: #F4F6F8;
    color: #717E8C;
    font-weight: bold;
}
td{
    color: #142231;
}
td,
th {
    border: 1px solid #cecece;
    border-left: none;
    border-bottom: none;
    padding: 0 8px;
}

.table-content-scroll {
    overflow: auto;
}

.table-content-scroll tr.is-selected td {
    background-color: #ECF3FF;
}
.el-pagination{
    text-align: right;
}
